body {
  font-family: 'Noto Sans';
  background-image: url('/static/images/background_landing.jpg');
  background-size: cover;
  overflow:auto;
  
}

html {
  position: relative;
  min-height: 100%;
}

.SignInBody {
	background-image: url('/static/images/background_landing.jpg');

}