.grid-container {
	width : 100%;
	max-width : 1200px; 
}


.primaryText {
	opacity:87%
}

.secondaryText {
	opacity: .54;
	font-size: 16px;
}

.header {
	display: block;
    text-align: center;
    font-size: 36;
}

.header_title {
	display: inline-block;
	font-size: 36;

}

.header_image {
	display: inline-block;
	margin-top: 10px;

}

.mainButton {
	margin-top:20px;
	text-align: center;

}
.description {
	margin-top:-10px;
}

.card {
	position: absolute;
	top:20%;
}