body {
  font-family: 'Noto Sans';
  height: 100%;
  width: 100%;
  background-color: $white;
  margin-bottom: 10px;
  background-size: cover;
  overflow:auto;
  
}

html {
  position: relative;
  min-height: 100%;
}