.header {
	display: block;
    text-align: center;
    font-size: 36;
    margin: 10px;
}

.header_title {
	display: inline-block;
	font-size: 36;
	vertical-align:top;
	margin-left:20px;
}

.header_image {
	display: inline-block;
	margin-top: 10px;
	vertical-align:top;
	height:60px;
	width:65px;
  	margin-top:10px;
}

.main {
	margin-right: 80;
  	margin-left:80;
}

.mainButton {
	margin-top:20px;
	text-align: center;

}
.description {
	margin-top:-10px;
}

.card {
	position: absolute;
	top:20%;
}


#title {
	display: inline-block;
}

#beta {
	display: inline-block;
	margin-left:5px;
}